<ion-header>
  <ion-toolbar>
    <ion-title>Regesiteren</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Vorname</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Nachname</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Strasse</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Postleizahl</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Stadt</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>geburtsdatum</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>IBAN</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-buttons>
    <ion-button>Regestieren</ion-button>
  </ion-buttons>
</ion-content>
